.header {
  background: #fff;
  border-bottom: 1px solid #eee;
}

.header__inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 5px;
}

.header__logo {
  color: #f5b301;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  
}
.flex {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1800px;
  padding: 40px;
  background-color:#f5efef;
  padding-bottom: 270px;
}

.logo{
  font-size: 30px;
  font-family: "Hammersmith One", sans-serif;
}
/* 左右分割 */
.content {
  display: flex;
  gap: 30px;
}

/* 左カラム */
.sidebar {
  width: 220px;
}

.action {
  background: #f5b301;
  color:black;
  border: none;
  padding: 15px;
  margin-bottom: 10px;
  width: 30;
  border-radius: 10px;
}

.search-box{
  border-radius: 20px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    
}

   
.search-btn{
    display: flex;
    gap: 200px;
    flex-direction: column;
    margin: 32px auto 0;
    padding: 10px 85px;
    border-radius: 10px;
    background: #f5b301;
    border: none;
}
.price-text{
    font-size: 20px;
}
.contact-form__select{
    padding: 8px 20px;
    width: 100%;
    
}

/* 右 商品一覧 */
.product-list {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex: 1;
}

.product-card {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.flex_card{
    display: flex;
  flex-wrap: wrap-reverse;
}

.product-name {
  font-weight: bold;
}

.product-price {
  text-align: right;
}

/* ページネーション */

.body{
    background-color:#c6a0a0db;
}
